<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css?t={{ 'now'|date('U') }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Магазин{% endblock %}</title>
</head>
<body>
<ul>
    <li><a href="/cart">Корзина ({{ cartCount }})</a></li>
    <li><a href="/user/all">Пользователи</a></li>
    <li><a href="/good/all">Товары</a></li>
    <li><a href="/good/add">Добавить товар</a></li>
</ul>
   {% if msg %}
       <div class='error'>{{ msg | raw }}</div>
   {% endif %}

   {% block content %}{% endblock %}
</body>
</html>
